$week-color: #a0a0a0;
.Calendar {
  width: 100%;
  height: 100%;
}
.CalendarHead {
}

.CalendarBody {
  padding: 5px;
  .thead {
    display: flex;
    font-family: 'Raleway', 'Roboto', sans-serif;
    .thead-row {
      display: flex;
      width: 100%;
      align-content: stretch;
      .thead-cell {
        width: 100%;
        flex-grow: 1;
        padding: 0.3rem 0 0.3rem 0.4rem;
        font-weight: 600;
        color: $week-color;
        &.last-cell {
          border-right: none;
        }
      }
    }
  }

  .tbody {
    .tbody-row {
      display: flex;
      width: 100%;
      align-content: stretch;
      .tbody-cell {
        width: 100%;
        flex-grow: 1;
        &.last-cell {
          border-right: none;
        }
        .date-num {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 2em;
          height: 2em;
          border-radius: 1em;
          font-family: 'Cabin', 'Raleway', 'Roboto', sans-serif;
          font-weight: 400;
        }
        &.today {
          .date-num {
            background-color: #4545ff;
            font-weight: 600;
            color: #fff;
          }
        }
      }
    }
  }
}
