@import '../color.scss';

.Calendar {
  width: 100%;
  height: 100%;
}
.CalendarHead {
  padding: 0.6rem 0.4rem 0 0.4rem;
  font-family: 'Cabin', 'Roboto', sans-serif;
  color: $title-color;
  .small {
    font-size: 1.5rem;
  }
  .korean {
    font-family: 'Sunflower', 'Cabin', sans-serif;
    font-weight: normal;
  }
  .btn-turn {
    border: none;
    font-size: 1.5rem;
    outline: none;
    background-color: Transparent;
    color: $title-color;
  }
  .month {
    width: 2rem;
    font-size: 1.5rem;
    margin: 0 0.3rem;
  }
  .year {
    font-size: 1.2rem;
    margin: 0 0.3rem;
  }
}

.CalendarBody {
  padding: 5px;
  .thead {
    display: flex;
    font-family: 'Raleway', 'Roboto', sans-serif;
    .thead-row {
      display: flex;
      width: 100%;
      align-content: stretch;
      .thead-cell {
        width: 100%;
        flex-grow: 1;
        padding: 0.3rem 0 0.3rem 0.4rem;
        font-weight: 600;
        color: $week-color;
        &.last-cell {
          border-right: none;
        }
      }
    }
  }

  .tbody {
    .tbody-row {
      display: flex;
      width: 100%;
      align-content: stretch;
      .tbody-cell {
        width: 100%;
        flex-grow: 1;
        border: none;

        .txt-lite {
          color: $lite-color;
        }
        .date-num {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 2em;
          height: 2em;
          border: none;
          border-radius: 1em;
          font-family: 'Cabin', 'Raleway', 'Roboto', sans-serif;
          font-weight: 400;
        }
        &.today {
          .date-num {
            background-color: $point-color;
            font-weight: 600;
            color: #fff;
          }
        }
        &.selected {
          //border: 1px solid $border-color;
          border-radius: 0.3rem;
          .date-num {
            border: 2px solid $point-color;
            background-color: #fff;
            color: $point-color;
          }
        }
      }
    }
  }
}
