$week-color: #a0a0a0;
$lite-color: #cccccc;
$title-color: #222268;
$point-color: #4545f0;
$point-color-lite: #a6a6e9;
$border-color: #e7e7ff;
$background-color: #f1f1f1;
$text-color: #1f1f28;
$button-color: #333399;

.red {
  background-color: #f00;
}
.coral {
  background-color: #ff7f50;
}
.gold {
  background-color: #ffd700;
}
.oliveDrab {
  background-color: #6b8e23;
}
.royalBlue {
  background-color: #4169e1;
}
.indigo {
  background-color: #9683ec;
}
